<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lastName</key>
		<string>Curry</string>
		<key>firstName</key>
		<string>Arthur</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Winston</string>
		<key>firstName</key>
		<string>Amy</string>
	</dict>
  <dict>
    <key>lastName</key>
    <string>Gordon</string>
    <key>firstName</key>
    <string>Barbara</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Wayne</string>
    <key>firstName</key>
    <string>Bruce</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Logan</string>
    <key>firstName</key>
    <string>Garfield</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Kyle</string>
    <key>firstName</key>
    <string>Selina</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Stone</string>
    <key>firstName</key>
    <string>Victor</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Allen</string>
    <key>firstName</key>
    <string>Barry</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Queen</string>
    <key>firstName</key>
    <string>Oliver</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Jordan</string>
    <key>firstName</key>
    <string>Hal</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Shayera</string>
    <key>firstName</key>
    <string>Hol</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Hall</string>
    <key>firstName</key>
    <string>Carter</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string></string>
    <key>firstName</key>
    <string>Mera</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Grayson</string>
    <key>firstName</key>
    <string>Richard</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string></string>
    <key>firstName</key>
    <string>Pandora</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Zor-El</string>
    <key>firstName</key>
    <string>Kara</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Roth</string>
    <key>firstName</key>
    <string>Rachel</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Grayson</string>
    <key>firstName</key>
    <string>Richard</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Batson</string>
    <key>firstName</key>
    <string>Billy</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>El</string>
    <key>firstName</key>
    <string>Kal</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string></string>
    <key>firstName</key>
    <string></string>
  </dict>
  <dict>
    <key>lastName</key>
    <string></string>
    <key>firstName</key>
    <string>Koriand'r'</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string></string>
    <key>firstName</key>
    <string>Diana</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Zatara</string>
    <key>firstName</key>
    <string>Zatanna</string>
  </dict>
  <dict>
    <key>lastName</key>
    <string>Zor-El</string>
    <key>firstName</key>
    <string>Kara</string>
  </dict>
</array>
</plist>
